
<br>
    <div class="employee-wrapper" [ngStyle] = "{'background-color': employee.edited ? 'orange' : null}">
        <span class="name-header">{{employee.name}}</span>

    <div class="item-wrapper">Gender:
        <span class="heading">{{employee.gender}}</span>
    </div>

    <div class="item-wrapper">Title:
        <span class="heading">{{employee.title}}</span>
    </div>

    <div class="item-wrapper">Tenure:
        <span class="heading">{{employee.tenure}}</span>
    </div>

    <div class="item-wrapper">Salary:
        <span class="heading">{{employee.salary}}</span>
    </div>

    <div class="item-wrapper">Display:
        <span class="heading">{{employee.display}}</span>
    </div>
